
@import "@haufe-umantis/styles/people-os/base";
@import "./components/card";

.wrapper {
  padding: 0 15%;
}

.tabs {
  padding: cell(4);
  margin-bottom:  cell(4); 

  span {
    padding: 0 cell(2);
  }

  a {
    padding: 0 cell(2);
    text-transform: uppercase;
  }

  a.active {
    border-bottom: 2px solid 
  }
}

.filter {
  display: block;
  margin-bottom: cell(12);
  width: 100%;

  input {
    width: 60%;
  }
}

.default-avatar {
  background-image: url('https://cdn-assets-eu.frontify.com/local/haufe/h_lNxVXLqrDqb2kyrixW3lMmUl7n-aBRzJUzyvzD7_8ZT8-w0Kl7FiAgddIV6WDy68nPxqKzxRF8Pzgzru9UCWiiZwWIWu_LDbBg8OsRziRQvc1kALTy6-uAByAypdMH?width=800');
}