
@import "@haufe-umantis/styles/people-os/base";

.wrapper {
  padding: 0 15%;
}

.tabs {
  a {
    padding-bottom: cell(2);
  }
  a.active {
    border-bottom: 2px solid #386F9D;
    color: #245278;
  }
}

.filter {
  display: block;
  margin-bottom: cell(12);
  width: 100%;

  input {
    width: 60%;
  }
}

.default-avatar {
  background-image: url('https://cdn-assets-eu.frontify.com/local/haufe/h_lNxVXLqrDqb2kyrixW3lMmUl7n-aBRzJUzyvzD7_8ZT8-w0Kl7FiAgddIV6WDy68nPxqKzxRF8Pzgzru9UCWiiZwWIWu_LDbBg8OsRziRQvc1kALTy6-uAByAypdMH?width=800');
}

.card-datalist {
  margin-bottom: cell(4);
}